<h2> The Login Screen! </h2>
<header></header>
<section id="login">
  <form method="post" action="/api/user">
    User Name: <input type="text" name="username"> <br>
    Password: <input type="text" name="password"> <br>
    <input type="submit" value="register">
  </form>
</section>
